<div class="form-error" ng-message="required">This field is required.</div>
      <div class="form-error" ng-message="minlength">This field is must be at least 6 characters.</div>
      <div class="form-error" ng-message="maxlength">This field is must be less than 50 characters</div>
            <div class="form-error" ng-message="email">This needs to be a valid email</div>
              <div class="form-error" ng-message="pattern">Invalid Money format. ex 450 or 450.00</div>
                    <div class="form-error" ng-message="date">Invalid date format. mm/day/years</div>
